/* Minimal styling for pymdownx.tabbed so it looks like actual tabs */
.tabbed-set {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: .4rem;
  overflow: hidden;
}

.tabbed-set > input {
  display: none;
}

.tabbed-set > label {
  padding: .6rem .9rem;
  cursor: pointer;
  border-right: 1px solid rgba(0,0,0,.12);
  background: rgba(0,0,0,.03);
  user-select: none;
}

.tabbed-set > label:last-of-type {
  border-right: 0;
}

.tabbed-set > .tabbed-content {
  width: 100%;
  order: 99;
  padding: 1rem;
  display: none;
  background: transparent;
}

.tabbed-set > input:checked + label {
  background: transparent;
  font-weight: 600;
}

.tabbed-set > input:checked + label + .tabbed-content {
  display: block;
}
